.containerTechnicalSide {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  font-family: "JetBrains Mono";
  color: white;
  font-size: 1.5vw;
  div {
    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(7),
    &:nth-child(8) {
      margin-top: 2vh;
    }
    &:nth-child(3) {
      margin-top: 3vh;
    }
    @media screen and (max-width: 480px) {
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(7),
      &:nth-child(8) {
        margin-top: 5vh;
      }
    }
    a {
      font-style: italic;
      color: #33bbe7;
    }
  }
  @media screen and (max-width: 768px) {
    font-size: 3vw;
  }
  @media screen and (max-width: 480px) {
    font-size: 4.8vw;
  }
  .blockchainBlock {
    display: flex;
    flex-direction: column;

    .infoBlockchain {
      display: flex;
      flex-direction: row;
      @media screen and (max-width: 768px) {
        flex-direction: column-reverse;
      }
      &:nth-child(1) {
        margin-top: 5vh;
      }
      div {
        &:nth-child(1) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 35vw;
          img {
            width: 30vw;
            @media screen and (max-width: 768px) {
              width: 50vw;
            }
            @media screen and (max-width: 480px) {
              width: 70vw;
            }
          }
          @media screen and (max-width: 768px) {
            width: 80vw;
            margin-top: 3vh;
          }
          @media screen and (max-width: 480px) {
            width: 85vw;
            margin-top: 6vh;
          }
        }
        &:nth-child(2) {
          width: 40vw;
          @media screen and (max-width: 768px) {
            align-items: center;
            width: 80vw;
          }
          @media screen and (max-width: 480px) {
            width: 85vw;
          }
        }
      }
      .lockBlock {
        @media screen and (max-width: 768px) {
          display: none !important;
        }
      }
    }
  }
  .videoCoinBlock {
    display: flex;
    flex-direction: row;
    width: 75vw;
    justify-content: space-between;
    margin-top: 2vh;
    .videoContent {
      margin-top: 0vh !important;
      display: flex;
      flex-direction: column;
      div {
        &:nth-child(1) {
          iframe {
            width: 35.25vw;
            height: 19.6vw;
          }
          width: 36vw;
          height: 20.22vw;
          @media screen and (max-width: 768px) {
            width: 74vw;
            height: 46vw;
          }
          @media screen and (max-width: 480px) {
            width: 78vw;
            height: 48.75vw;
          }
          border: 5px solid rgba(51, 187, 231, 1);
          box-sizing: border-box;
        }
        &:nth-child(2) {
          width: 36vw;
          font-style: italic;
          font-size: 1vw;
          text-align: center;
        }
      }
    }
  }
}
