.containerTechnicalSide {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  font-family: "JetBrains Mono";
  color: white;
  font-size: 1.5vw;
  div {
    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(5) {
      margin-top: 2vh;
    }
    &:nth-child(3) {
      margin-top: 3vh;
    }
    @media screen and (max-width: 480px) {
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        margin-top: 5vh;
      }
    }
    a {
      font-style: italic;
      color: #33bbe7;
    }
  }
  @media screen and (max-width: 768px) {
    font-size: 3vw;
  }
  @media screen and (max-width: 480px) {
    font-size: 4.8vw;
  }
  .blockchainBlock {
    display: flex;
    flex-direction: column;

    .infoBlockchain {
      display: flex;
      flex-direction: row;
      &:nth-child(1){
        margin-top: 5vh;
      }
      div{
        &:nth-child(1){
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 35vw;
          img{
            width: 30vw;
          }
        }
        &:nth-child(2){
          width: 40vw;
        }
      }
    }
  }
}
