.containerSections {
  width: 75vw;
  margin: auto;
  @media screen and (max-width: 768px) {
    width: 80vw;
  }
  @media screen and (max-width: 480px) {
    width: 85vw;
  }
  .titleChoice {
    font-weight: bold;
    font-size: 3.5vw;
    margin-top: 5vh;
    text-align: center;
    @media screen and (max-width: 768px) {
      font-size: 5vw;
    }
    @media screen and (max-width: 480px) {
      font-size: 6.5vw;
    }
  }
  .choiceSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3vh;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      width: 80vw;
      align-content: center;
    }
    @media screen and (max-width: 468px) {
      width: 85vw;
    }
    .sectionBlock {
      border: 5px solid;
      border: 5px solid;
      border-image-source: linear-gradient(
        180deg,
        rgba(231, 223, 51, 0) 0%,
        #e7df33 98.96%
      );
      border-image-slice: 1;
      border-radius: 10px;
      font-size: 1.8vw;
      padding: 1rem;
      margin-bottom: 3vh;
      letter-spacing: 1.5px;
      box-shadow: 0 7px 10px #3c354a;
      transition: all ease 0.5s;
      position: relative;
      top: 0;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        background: linear-gradient(
          180deg,
          rgba(231, 223, 51, 0) 70%,
          #e7df33 200%
        );
        background-position: bottom top;
        -webkit-transition: 400ms;
        transition: 400ms;
      }
      &:hover:after {
        height: 100%;
      }
      &:hover {
        top: 4px;
        box-shadow: 0 2px 0px #3c354a;
        transition: all ease 0.5s;
        background-position: bottom top;
        cursor: pointer;
      }
      &:nth-child(1) {
        width: 53%;
        @media screen and (max-width: 1024px) {
          width: 47%;
        }
        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }

      @media screen and (max-width: 1024px) {
        font-size: 2vw;
        letter-spacing: 4px;
        width: 47%;
      }
      @media screen and (max-width: 768px) {
        width: 80vw;
        font-size: 2.5vw;
      }
      @media screen and (max-width: 480px) {
        width: 85vw;
        font-size: 4vw;
      }
    }
  }
  .titleBlock {
    font-size: 3vw;
    width: 100%;
    line-height: 5vh;
    @media screen and (max-width: 768px) {
      font-size: 4.5vw;
    }
    @media screen and (max-width: 480px) {
      font-size: 6vw;
    }
    .titleInteriorBlock {
      display: inline-block;
      hr {
        border: 1.5px solid rgba(231, 223, 51, 1);
        background: rgba(231, 223, 51, 1);
      }
    }
  }
  .contentWithImage {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 768px) {
      display: block;
    }
    .textContent {
      font-size: 1.5vw;
      width: 40vw;
      margin-right: 1.5vw;
      @media screen and (max-width: 768px) {
        font-size: 3vw;
        width: 78vw;
      }
      @media screen and (max-width: 480px) {
        font-size: 4.8vw;
        width: 83vw;
      }
    }
    .imageContent {
      width: 32vw;
      @media screen and (max-width: 768px) {
        margin-top: 6vh;
        width: 74vw;
      }
      @media screen and (max-width: 480px) {
        margin-top: 6vh;
        width: 79vw;
      }
      &::after {
        content: " ";
        position: absolute;
        transform: translate(1.2vw, -21.2vw);
        width: 32vw;
        height: 20vw;
        @media screen and (max-width: 768px) {
          transform: translate(3vw, -48.76vw);
          width: 74vw;
          height: 46vw;
        }
        @media screen and (max-width: 480px) {
          transform: translate(3vw, -52vw);
          width: 78vw;
          height: 48.75vw;
        }
        border: 5px solid rgba(51, 187, 231, 1);
        box-sizing: border-box;
      }
    }
  }
}
