.containerSections {
  .titleChoice {
    font-family: "JetBrains Mono";
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 3.5vw;
    margin-top: 5vh;
  }
  .choiceSection {
    display: flex;
    flex-direction: row;
    width: 75vw;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
    margin-top: 3vh;
    .sectionBlock {
      color: white;
      border: 5px solid;
      border: 5px solid;
      border-image-source: linear-gradient(
        180deg,
        rgba(231, 223, 51, 0) 0%,
        #e7df33 98.96%
      );
      border-image-slice: 1;
      border-radius: 10px;
      font-size: 1.8vw;
      padding: 1rem;
      font-family: "JetBrains Mono";
      margin-bottom: 3vh;
      letter-spacing: 1.5px;
      box-shadow: 0 7px 5px #3c354a;
      transition: all ease 0.5s;
      position: relative;
      top: 0;
      &:hover {
        top: 4px;
        box-shadow: 0 2px 0px #3c354a;
        transition: ease 0.5s;
        cursor: pointer;
      }
    }
  }
}
