.containerQuestions {
  display: flex;
  flex-direction: column;
  margin-top: 8vh;
  @media screen and (max-width: 768px) {
    font-size: 3vw;
  }
  @media screen and (max-width: 480px) {
    font-size: 4.8vw;
    margin-top: 4vh;
  }
  .containerQuestion {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    .textFull {
      height: 14vw;
      overflow: hidden;
      opacity: 1;
      transition: all 0.8s ease-out;
      font-style: italic;
      @media screen and (max-width: 768px) {
        height: 55vw;
      }
      @media screen and (max-width: 480px) {
        height: 130vw;
      }
    }
    .textHidden {
      height: 0vh;
      opacity: 0;
      transition: all 0.8s ease-out;
    }
    .titleQuestion {
      display: flex;
      flex-direction: row;
      margin-bottom: 1vh;
      cursor: pointer;
      img {
        width: 2vw;
        margin-right: 1vw;
        transition: all ease 0.8s;
        transform: rotate(180deg);

        @media screen and (max-width: 768px) {
          width: 3vw;
          margin-right: 2vw;
        }
        @media screen and (max-width: 480px) {
          width: 5vw;
          margin-right: 3vw;
        }
      }
      p {
        font-size: 1.6vw;
        @media screen and (max-width: 768px) {
          font-size: 3.2vw;
        }
        @media screen and (max-width: 480px) {
          font-size: 5.12vw;
        }
      }
      .stateImg {
        transform: rotate(0deg);
        transition: all ease 0.8s;
      }
    }
    hr {
      width: 75vw;
      border: 1.5px solid rgba(231, 223, 51, 1);
      background: rgba(231, 223, 51, 1);
    }
  }
}
