.containerApp {
  .endBar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7df33;
    height: 7vh;
    margin-top: 2vh;

    p{
      font-size: 1.05vw;
      text-align: center;
      color: rgba(9,16,41,1);
      @media screen and (max-width: 768px) {
        font-size: 2.1vw;
      }
      @media screen and (max-width:480px) {
        font-size: 3vw;
      }
    }
  }
  .arrowUp{
    display: none;
    position: fixed;
    right: 1.5%;
    bottom: 10%;
    width: 4vw;
    cursor: pointer;
    transition: all ease 0.8s;
    @media screen and (max-width: 768px) {
      width: 8vw;
    }
    @media screen and (max-width:480px) {
      width: 15vw;
    }
  }

}
