.containerApp {
  .endBar {
    background-color: #e7df33;
    height: 5vh;
    margin-top: 2vh;
  }
  .arrowUp{
    display: none;
    position: fixed;
    right: 1.5%;
    bottom: 10%;
    width: 4vw;
    cursor: pointer;
    transition: all ease 0.8s;
    @media screen and (max-width: 768px) {
      width: 6vw;
    }
    @media screen and (max-width:480px) {
      width: 10vw;
    }
  }

}
