.containerBackground {
  display: flex;
  flex-direction: row;
  margin-top: 12vh;
  justify-content: center;
  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
    align-items: center;
  }
  .contanerStartText {
    width: 40vw;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      width: 80vw;
      font-size: 3vw;
    }
    @media screen and (max-width: 480px) {
      width: 85vw;
      font-size: 4.8vw;
      p {
        &:nth-child(2) {
          margin-bottom: 3vh;
        }
      }
    }
    .greeting {
      font-weight: bold;
      font-size: 3vw;
      height: 9vw;
      @media screen and (max-width: 768px) {
        width: 80vw;
        font-size: 6vw;
        height: 18vw;
      }
      @media screen and (max-width: 480px) {
        width: 85vw;
        font-size: 5.8vw;
        height: 28vw;
      }
    }
  }
  .converterBlock {
    display: flex;
    background: #091029;
    border: 5px solid #e7df33;
    width: 30vw;
    flex-direction: column;
    justify-content: space-around;
    height: 34vw;
    padding: 2vw;
    border-radius: 10px;
    @media screen and (max-width: 768px) {
      width: 60vw;
      height: 68vw;
      margin-top: 5vh;
    }
    @media screen and (max-width: 480px) {
      width: 85vw;
      height: 93vw;
    }
    .titleConverter {
      text-align: center;
      font-size: 2vw;
      @media screen and (max-width: 768px) {
        font-size: 4vw;
      }
      @media screen and (max-width: 480px) {
        font-size: 6vw;
      }
    }
    .result {
      text-align: center;
      font-size: 1.5vw;
      @media screen and (max-width: 768px) {
        font-size: 3vw;
      }
      @media screen and (max-width: 480px) {
        font-size: 5vw;
      }
    }
    .refresh {
      margin-left: 11vw;
      width: 3.2vw;
      cursor: pointer;
      transform: rotate(-180deg);
      transition: transform 1000ms ease;
      @media screen and (max-width: 768px) {
        width: 6vw;
        margin-left: 24vw;
      }
      @media screen and (max-width: 480px) {
        width: 8vw;
        margin-left: 35vw;
      }
    }
    .refreshActive {
      transform: rotate(180deg);
      transition: transform 1000ms ease;
    }
    .selection {
      position: relative;
      select {
        display: block;
        width: 100%;
        padding: 0.75rem 2rem 0.75rem 1rem;
        background: none;
        border: 1px solid #ccc;
        border-radius: 8px;
        appearance: none;
        -webkit-appearance: none;
        background: white;
        font-size: 1.15vw;
        @media screen and (max-width: 768px) {
          font-size: 2vw;
        }
        @media screen and (max-width: 480px) {
          font-size: 3.5vw;
        }
        &:focus {
          outline: 0;
          border-color: #0891e6;
        }
      }
      &:after {
        content: "";
        display: block;
        border-style: solid;
        border-width: 6px 5px 0 5px;
        border-color: #000000 transparent transparent transparent;
        position: absolute;
        top: 50%;
        right: 2vw;
        z-index: 1;
        pointer-events: none;
      }
    }
    input {
      width: 100%;
      padding: 0.5rem 2rem 0.5rem 1rem;
      border: 1px solid #cecece;
      border-radius: 8px;
      font-size: 1.15vw;
      &:focus {
        outline: 0;
        border-color: #0891e6;
      }
      @media screen and (max-width: 768px) {
        font-size: 2vw;
      }
      @media screen and (max-width: 480px) {
        font-size: 3.5vw;
      }
    }
    .errorInput{
      border: 2px solid red !important;
    }
    .errorLabel {
      color: red;
      font-size: 1vw;
      @media screen and (max-width: 768px) {
        font-size: 2vw;
      }
      @media screen and (max-width: 480px) {
        font-size: 3vw;
      }
    }
    .trueLabel{
      display: none;
    }
  }
}
